@model  NTourism.Models.Regular.TblClient
<div id="ParentUserImg" class="groupcol1amnstyle">
</div>
<div class="groupcol1amnstyle">
    <label>@Model.FirstName</label>
    <label>@Model.LastName</label>
</div>
<div class="groupcol1amnstyle">
    <label >@Model.Username</label>
</div>
<div class="groupcol1amnstyle">
    <label>@Model.TellNo</label>
</div>
<div class="groupcol1amnstyle">
    <label >@Model.Email</label>
</div>
<div class="groupcol1amnstyle">
    <a id="EditeProfileAmn" onclick="ShowEditeProfileOurServices();">Edite Profile</a>
</div>